%h1 Atenciones
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-bookmark"></span> Atención'.html_safe,new_atencion_path)
