%h1 Users
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    .img-fluid.round-circle
      = link_to(image_tag("data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", :width => "200",:class => "img img-fluid round-circle"),  new_user_path)
    .text-muted Agrega un registro
