%h1 Usuarios
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-user"></span> Usuario'.html_safe,new_usuario_path)
