.bd-pageheader
  .container
    %h1 Components
    %p.lead
      Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
    = render 'shared/carbon'

