%form.bd-search.hidden-sm-down
  %input#search-input.form-control{:autocomplete => "off", :placeholder => "Search...", :type => "text"}/
  #search-results.dropdown-menu.bd-search-results
-#%nav#docsNavbarContent.bd-links
  .bd-toc-item
    %a.bd-toc-link{:href => "/getting-started/introduction/"}
      Getting started
    %ul.nav.bd-sidenav
      %li
        %a{:href => "/getting-started/introduction/"}
          Introduction
      %li
        %a{:href => "/getting-started/download/"}
          Download
      %li
        %a{:href => "/getting-started/contents/"}
          Contents
      %li
        %a{:href => "/getting-started/browsers-devices/"}
          Browsers &amp; devices
      %li
        %a{:href => "/getting-started/javascript/"}
          JavaScript
      %li
        %a{:href => "/getting-started/options/"}
          Options
      %li
        %a{:href => "/getting-started/build-tools/"}
          Build tools
      %li
        %a{:href => "/getting-started/best-practices/"}
          Best practices
      %li
        %a{:href => "/getting-started/accessibility/"}
          Accessibility
  .bd-toc-item
    %a.bd-toc-link{:href => "/layout/overview/"}
      Layout
    %ul.nav.bd-sidenav
      %li
        %a{:href => "/layout/overview/"}
          Overview
      %li
        %a{:href => "/layout/grid/"}
          Grid
      %li
        %a{:href => "/layout/media-object/"}
          Media object
      %li
        %a{:href => "/layout/responsive-utilities/"}
          Responsive utilities
  .bd-toc-item
    %a.bd-toc-link{:href => "/content/reboot/"}
      Content
    %ul.nav.bd-sidenav
      %li
        %a{:href => "/content/reboot/"}
          Reboot
      %li
        %a{:href => "/content/typography/"}
          Typography
      %li
        %a{:href => "/content/code/"}
          Code
      %li
        %a{:href => "/content/images/"}
          Images
      %li
        %a{:href => "/content/tables/"}
          Tables
      %li
        %a{:href => "/content/figures/"}
          Figures
  .bd-toc-item.active
    %a.bd-toc-link{:href => "/components/alerts/"}
      Components
    %ul.nav.bd-sidenav
      %li.active.bd-sidenav-active
        %a{:href => "/components/alerts/"}
          Alerts
      %li
        %a{:href => "/components/badge/"}
          Badge
      %li
        %a{:href => "/components/breadcrumb/"}
          Breadcrumb
      %li
        %a{:href => "/components/buttons/"}
          Buttons
      %li
        %a{:href => "/components/button-group/"}
          Button group
      %li
        %a{:href => "/components/card/"}
          Card
      %li
        %a{:href => "/components/carousel/"}
          Carousel
      %li
        %a{:href => "/components/collapse/"}
          Collapse
      %li
        %a{:href => "/components/dropdowns/"}
          Dropdowns
      %li
        %a{:href => "/components/forms/"}
          Forms
      %li
        %a{:href => "/components/input-group/"}
          Input group
      %li
        %a{:href => "/components/jumbotron/"}
          Jumbotron
      %li
        %a{:href => "/components/list-group/"}
          List group
      %li
        %a{:href => "/components/modal/"}
          Modal
      %li
        %a{:href => "/components/navs/"}
          Navs
      %li
        %a{:href => "/components/navbar/"}
          Navbar
      %li
        %a{:href => "/components/pagination/"}
          Pagination
      %li
        %a{:href => "/components/popovers/"}
          Popovers
      %li
        %a{:href => "/components/progress/"}
          Progress
      %li
        %a{:href => "/components/scrollspy/"}
          Scrollspy
      %li
        %a{:href => "/components/tooltips/"}
          Tooltips
  .bd-toc-item
    %a.bd-toc-link{:href => "/utilities/borders/"}
      Utilities
    %ul.nav.bd-sidenav
      %li
        %a{:href => "/utilities/borders/"}
          Borders
      %li
        %a{:href => "/utilities/clearfix/"}
          Clearfix
      %li
        %a{:href => "/utilities/close-icon/"}
          Close icon
      %li
        %a{:href => "/utilities/colors/"}
          Colors
      %li
        %a{:href => "/utilities/flexbox/"}
          Flexbox
      %li
        %a{:href => "/utilities/display-property/"}
          Display property
      %li
        %a{:href => "/utilities/image-replacement/"}
          Image replacement
      %li
        %a{:href => "/utilities/invisible-content/"}
          Invisible content
      %li
        %a{:href => "/utilities/position/"}
          Position
      %li
        %a{:href => "/utilities/responsive-helpers/"}
          Responsive helpers
      %li
        %a{:href => "/utilities/screenreaders/"}
          Screenreaders
      %li
        %a{:href => "/utilities/sizing/"}
          Sizing
      %li
        %a{:href => "/utilities/spacing/"}
          Spacing
      %li
        %a{:href => "/utilities/typography/"}
          Typography
      %li
        %a{:href => "/utilities/vertical-align/"}
          Vertical align
  .bd-toc-item
    %a.bd-toc-link{:href => "/about/history/"}
      About
    %ul.nav.bd-sidenav
      %li
        %a{:href => "/about/history/"}
          History
      %li
        %a{:href => "/about/team/"}
          Team
      %li
        %a{:href => "/about/brand/"}
          Brand
      %li
        %a{:href => "/about/license/"}
          License
      %li
        %a{:href => "/about/translations/"}
          Translations
  .bd-toc-item
    %a.bd-toc-link{:href => "/migration/"}
      Migration
    %ul.nav.bd-sidenav

