%javascript{:src=>"http://www.skypeassets.com/i/scom/js/skype-uri.js"}

%javascript
  Skype.ui({ "name": "call", "element": "SkypeButton_Call_alexander_espinosa_1", "participants": ["alexander_espinosa"],  "imageSize": 32  });



