=content_for :form_errors do
  %p
    =pluralize(object.errors.count, "error")
    hacen que este formulario no sea válido
  %ul
    -object.errors.full_messages.each do |message|
      %li= message

