
%canvas{:id => "canvas", :style => "border:2px solid black;", :width => "200",:height => "200"}
  


:javascript
  //var doc = document.implementation.createHTMLDocument("");
  //doc.write(html);

  // You must manually set the xmlns if you intend to immediately serialize 
  // the HTML document to a string as opposed to appending it to a 
  // <foreignObject> in the DOM
  //doc.documentElement.setAttribute("xmlns", doc.documentElement.namespaceURI);

  // Get well-formed markup
  //html = (new XMLSerializer).serializeToString(doc);


  doc = document.implementation.createHTMLDocument("");

  //idoc.write(html);
  html = (new XMLSerializer).serializeToString(doc);


  var canvas = document.getElementById('canvas');
  var ctx = canvas.getContext('2d');
  var data = '<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<!-- Creator: CorelDRAW -->
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="215.9mm" height="279.4mm" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 2.159e+006 2.794e+006"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <style type="text/css">
   <![CDATA[
    .str0 {stroke:black;stroke-width:762}
    .str1 {stroke:lime;stroke-width:762}
    .str2 {stroke:aqua;stroke-width:762}
    .fil0 {fill:none}
   ]]>
  </style>
 </defs>
 <g id="Capa_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <line class="fil0 str0" x1="302447" y1="1.49389e+006" x2="302447" y2= "1.54184e+006" />
  <line class="fil0 str0" x1="438746" y1="1.39696e+006" x2="403709" y2= "1.39696e+006" />
  <line class="fil0 str0" x1="302447" y1="1.29161e+006" x2="302447" y2= "1.25216e+006" />
  <line class="fil0 str0" x1="166707" y1="1.39696e+006" x2="201745" y2= "1.39696e+006" />
  <polygon class="fil0 str1" points="403789,1.39271e+006 401865,1.37299e+006 396092,1.35407e+006 386792,1.33651e+006 374204,1.32119e+006 358890,1.30861e+006 341412,1.29931e+006 322410,1.29353e+006 302687,1.29161e+006 283044,1.29353e+006 264042,1.29931e+006 246563,1.30861e+006 231250,1.32119e+006 218662,1.33651e+006 209361,1.35407e+006 203589,1.37299e+006 201664,1.39271e+006 203589,1.41251e+006 209361,1.43144e+006 218662,1.44891e+006 231250,1.46431e+006 246563,1.4769e+006 264042,1.4862e+006 283044,1.49197e+006 302687,1.49389e+006 322410,1.49197e+006 341412,1.4862e+006 358890,1.4769e+006 374204,1.46431e+006 386792,1.44891e+006 396092,1.43144e+006 401865,1.41251e+006 "/>
  <polygon class="fil0 str2" points="283525,1.40754e+006 283525,1.41155e+006 287534,1.41155e+006 287534,1.40754e+006 "/>
  <polyline class="fil0 str2" points="323692,1.37539e+006 319684,1.38341e+006 315675,1.38742e+006 307658,1.39143e+006 299640,1.39143e+006 287534,1.38742e+006 279516,1.3794e+006 275507,1.3673e+006 275507,1.36329e+006 279516,1.35126e+006 287534,1.34324e+006 299640,1.33915e+006 307658,1.33915e+006 319684,1.34324e+006 327701,1.35126e+006 331710,1.36329e+006 331710,1.38742e+006 327701,1.40353e+006 323692,1.41155e+006 315675,1.41957e+006 303649,1.42358e+006 291623,1.42358e+006 283525,1.41957e+006 279516,1.41155e+006 279516,1.40754e+006 283525,1.40353e+006 287534,1.40353e+006 291623,1.40754e+006 291623,1.41155e+006 287534,1.41556e+006 283525,1.41556e+006 "/>
  <polyline class="fil0 str2" points="283525,1.3794e+006 279516,1.3713e+006 279516,1.35928e+006 283525,1.35126e+006 "/>
  <polyline class="fil0 str2" points="319684,1.34725e+006 323692,1.35126e+006 327701,1.36329e+006 327701,1.38742e+006 323692,1.40353e+006 319684,1.41155e+006 "/>
  <polyline class="fil0 str2" points="299640,1.39143e+006 291623,1.38742e+006 287534,1.38341e+006 283525,1.3713e+006 283525,1.35928e+006 287534,1.34725e+006 291623,1.34324e+006 299640,1.33915e+006 "/>
  <polyline class="fil0 str2" points="307658,1.33915e+006 315675,1.34324e+006 319684,1.35126e+006 323692,1.36329e+006 323692,1.39143e+006 319684,1.40754e+006 315675,1.41556e+006 311666,1.41957e+006 303649,1.42358e+006 "/>
  <polyline class="fil0 str2" points="967029,1.38349e+006 973443,1.37948e+006 983064,1.36738e+006 983064,1.4518e+006 "/>
  <polyline class="fil0 str2" points="1.0634e+006,1.37948e+006 1.06019e+006,1.37138e+006 1.05057e+006,1.36738e+006 1.04408e+006,1.36738e+006 1.03446e+006,1.37138e+006 1.02804e+006,1.38349e+006 1.02484e+006,1.40353e+006 1.02484e+006,1.42366e+006 1.02804e+006,1.43977e+006 1.03446e+006,1.44779e+006 1.04408e+006,1.4518e+006 1.04729e+006,1.4518e+006 1.05699e+006,1.44779e+006 1.0634e+006,1.43977e+006 1.06661e+006,1.42767e+006 1.06661e+006,1.42366e+006 1.0634e+006,1.41163e+006 1.05699e+006,1.40353e+006 1.04729e+006,1.39953e+006 1.04408e+006,1.39953e+006 1.03446e+006,1.40353e+006 1.02804e+006,1.41163e+006 1.02484e+006,1.42366e+006 "/>
  <polyline class="fil0 str2" points="1.13404e+006,1.3875e+006 1.13083e+006,1.37948e+006 1.12442e+006,1.37138e+006 1.118e+006,1.36738e+006 1.10517e+006,1.36738e+006 1.09876e+006,1.37138e+006 1.09227e+006,1.37948e+006 1.08906e+006,1.3875e+006 1.08585e+006,1.39953e+006 1.08585e+006,1.41965e+006 1.08906e+006,1.43168e+006 1.09227e+006,1.43977e+006 1.09876e+006,1.44779e+006 1.10517e+006,1.4518e+006 1.118e+006,1.4518e+006 1.12442e+006,1.44779e+006 1.13083e+006,1.43977e+006 1.13404e+006,1.43168e+006 "/>
  <line class="fil0 str2" x1="1.15657e+006" y1="1.41564e+006" x2="1.21437e+006" y2= "1.41564e+006" />
  <line class="fil0 str2" x1="1.24011e+006" y1="1.36738e+006" x2="1.24011e+006" y2= "1.4518e+006" />
  <polyline class="fil0 str2" points="1.24011e+006,1.36738e+006 1.26577e+006,1.4518e+006 1.2915e+006,1.36738e+006 1.2915e+006,1.4518e+006 "/>
  <line class="fil0 str2" x1="1.31724e+006" y1="1.36738e+006" x2="1.31724e+006" y2= "1.4518e+006" />
  <line class="fil0 str2" x1="1.31724e+006" y1="1.36738e+006" x2="1.35901e+006" y2= "1.36738e+006" />
  <line class="fil0 str2" x1="1.31724e+006" y1="1.40762e+006" x2="1.3429e+006" y2= "1.40762e+006" />
  <line class="fil0 str2" x1="1.31724e+006" y1="1.4518e+006" x2="1.35901e+006" y2= "1.4518e+006" />
  <polyline class="fil0 str2" points="1.42003e+006,1.37948e+006 1.41361e+006,1.37138e+006 1.40399e+006,1.36738e+006 1.39108e+006,1.36738e+006 1.38146e+006,1.37138e+006 1.37505e+006,1.37948e+006 1.37505e+006,1.3875e+006 1.37825e+006,1.39552e+006 1.38146e+006,1.39953e+006 1.38788e+006,1.40353e+006 1.4072e+006,1.41163e+006 1.41361e+006,1.41564e+006 1.41682e+006,1.41965e+006 1.42003e+006,1.42767e+006 1.42003e+006,1.43977e+006 1.41361e+006,1.44779e+006 1.40399e+006,1.4518e+006 1.39108e+006,1.4518e+006 1.38146e+006,1.44779e+006 1.37505e+006,1.43977e+006 "/>
  <line class="fil0 str2" x1="1.44897e+006" y1="1.36738e+006" x2="1.47463e+006" y2= "1.35134e+006" />
  <polygon class="fil0 str2" points="1.45539e+006,1.37539e+006 1.44897e+006,1.37948e+006 1.44248e+006,1.3875e+006 1.43606e+006,1.40353e+006 1.43606e+006,1.42366e+006 1.44248e+006,1.43977e+006 1.44897e+006,1.44779e+006 1.45539e+006,1.4518e+006 1.46821e+006,1.4518e+006 1.47463e+006,1.44779e+006 1.48104e+006,1.43977e+006 1.48753e+006,1.42366e+006 1.48753e+006,1.40353e+006 1.48104e+006,1.3875e+006 1.47463e+006,1.37948e+006 1.46821e+006,1.37539e+006 "/>
  <line class="fil0 str2" x1="1.50998e+006" y1="1.36738e+006" x2="1.50998e+006" y2= "1.4518e+006" />
  <polyline class="fil0 str2" points="1.50998e+006,1.36738e+006 1.55496e+006,1.4518e+006 1.55496e+006,1.36738e+006 "/>
  <polyline class="fil0 str2" points="1.69311e+006,1.3875e+006 1.6899e+006,1.37948e+006 1.68349e+006,1.37138e+006 1.67707e+006,1.36738e+006 1.66424e+006,1.36738e+006 1.65775e+006,1.37138e+006 1.65134e+006,1.37948e+006 1.64813e+006,1.3875e+006 1.64492e+006,1.39953e+006 1.64492e+006,1.41965e+006 1.64813e+006,1.43168e+006 1.65134e+006,1.43977e+006 1.65775e+006,1.44779e+006 1.66424e+006,1.4518e+006 1.67707e+006,1.4518e+006 1.68349e+006,1.44779e+006 1.6899e+006,1.43977e+006 1.69311e+006,1.43168e+006 "/>
  <polygon class="fil0 str2" points="1.73167e+006,1.36738e+006 1.72526e+006,1.37138e+006 1.71884e+006,1.37948e+006 1.71564e+006,1.3875e+006 1.71243e+006,1.39953e+006 1.71243e+006,1.41965e+006 1.71564e+006,1.43168e+006 1.71884e+006,1.43977e+006 1.72526e+006,1.44779e+006 1.73167e+006,1.4518e+006 1.7445e+006,1.4518e+006 1.751e+006,1.44779e+006 1.75741e+006,1.43977e+006 1.76062e+006,1.43168e+006 1.76382e+006,1.41965e+006 1.76382e+006,1.39953e+006 1.76062e+006,1.3875e+006 1.75741e+006,1.37948e+006 1.751e+006,1.37138e+006 1.7445e+006,1.36738e+006 "/>
  <polyline class="fil0 str2" points="1.83125e+006,1.3875e+006 1.82804e+006,1.37948e+006 1.82163e+006,1.37138e+006 1.81522e+006,1.36738e+006 1.80239e+006,1.36738e+006 1.79597e+006,1.37138e+006 1.78948e+006,1.37948e+006 1.78627e+006,1.3875e+006 1.78307e+006,1.39953e+006 1.78307e+006,1.41965e+006 1.78627e+006,1.43168e+006 1.78948e+006,1.43977e+006 1.79597e+006,1.44779e+006 1.80239e+006,1.4518e+006 1.81522e+006,1.4518e+006 1.82163e+006,1.44779e+006 1.82804e+006,1.43977e+006 1.83125e+006,1.43168e+006 "/>
  <line class="fil0 str2" x1="1.85378e+006" y1="1.36738e+006" x2="1.85378e+006" y2= "1.4518e+006" />
  <line class="fil0 str2" x1="1.87944e+006" y1="1.36738e+006" x2="1.87944e+006" y2= "1.4518e+006" />
  <polyline class="fil0 str2" points="1.87944e+006,1.36738e+006 1.9245e+006,1.4518e+006 1.9245e+006,1.36738e+006 "/>
  <line class="fil0 str2" x1="1.96619e+006" y1="1.36738e+006" x2="1.94053e+006" y2= "1.4518e+006" />
  <line class="fil0 str2" x1="1.96619e+006" y1="1.36738e+006" x2="1.99193e+006" y2= "1.4518e+006" />
  <line class="fil0 str2" x1="1.95015e+006" y1="1.42366e+006" x2="1.9823e+006" y2= "1.42366e+006" />
 </g>
</svg>';

  //var data = '<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">' +
             '<foreignObject width="100%" height="100%">' +
             '<div xmlns="http://www.w3.org/1999/xhtml" style="font-size:40px">' +
               '<em>I</em> like ' + 
               '<span style="color:white; text-shadow:0 0 2px blue;">' +
               'cheese</span>' +
             '</div>' +
             '</foreignObject>' +
             '</svg>';
  var DOMURL = window.URL || window.webkitURL || window;

  var img = new Image();
  var svg = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
  var url = DOMURL.createObjectURL(svg);

  img.onload = function () {
    ctx.drawImage(img, 0, 0);
    DOMURL.revokeObjectURL(url);
  }

  img.src = url;
