-unless edicion.nil?
  %a.btn.btn-micro.btn-grey.comment-reply-btn{:href => edicione_videos_url(edicion),:data => {toggle: "modal", target: "#video-modal#{edicion.id}" }}
  .modal.fade{:id => "video-modal#{edicion.id}",:tabindex => "-1",:role => "dialog",:back_drop => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3.modal-title Espere un momento
        .modal-body
          .modal-body-content
            .ajax-loader
              cargando...
        .modal-footer
          %button.btn{"data-dismiss" => "modal", :type => "button"} Cerrar


  -#=link_to user.name,user_url(user),:data => { toggle: "modal", target: "#usuario-modal#{user.id}" }

-#.modal.fade{:id => "usuario-modal#{user.id}",:tabindex => "-1",:role => "dialog",:back_drop => true}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3.modal-title Espere un momento
        .modal-body
          .modal-body-content
            .ajax-loader
              cargando...
        .modal-footer
          %button.btn{"data-dismiss" => "modal", :type => "button"} Cerrar

