-if params[:id] 
  .list-group-item
    = link_to 'Pdf',  download_pdf_tipo_auditoria_path(@gestion_tipo_auditoria)
  .list-group-item
    = link_to 'Ver',      @gestion_tipo_auditoria
-if params[:id]
  .list-group-item
    = link_to 'Editar',       edit_tipo_auditoria_path(@gestion_tipo_auditoria)
  .list-group-item
    = link_to 'Eliminar', @gestion_tipo_auditoria, method: :delete, data: { confirm: '¿Está seguro?' }

