#navbarsExampleDefault.collapse.navbar-collapse

  %ul.navbar-nav.mr-auto
    -#i.nav-item.active
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
      -#%li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "http://example.com"} Dropdown
        .dropdown-menu{"aria-labelledby" => "dropdown01"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          %a.dropdown-item{:href => "#"} Something else here
  %form.bd-search.form-inline.my-2.my-lg-0
    %input#search-input.form-control.mr-sm-2{:autocomplete => "off", :placeholder => "Buscar...", :type => "text"}/
    #search-results.dropdown-menu.bd-search-results

  -#%form.form-inline.my-2.my-lg-0{:url => '/search'}
    %input.form-control.mr-sm-2{:placeholder => "Search",:for => :razon_social , :type => "text"}/
    %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

