<% @namespace = capture do %><% if not class_name.empty? %><%=class_name.to_s.deconstantize.downcase %>_<%end%><%end%>
<% @var = capture do %>@<%=@namespace%><%=plural_name.singularize%><%end%>
<% @constante = capture do %><%=class_name %><%end%>
<% @value = capture do %><%=@namespace%><%=plural_name.singularize%><%end%>
<% @vars = capture do %>@<%=@namespace%><%=plural_name%><%end%>


%h1 Agregando <%= @value.capitalize %>
- content_for :jumbo_contenido do
  = render 'form', <%=@value%>:<%=@var%>
  = link_to 'Lista', <%= @value.pluralize %>_path
