= render partial: 'gestion/eventos/item_simple',:id => "atenciones#{@gestion_atencion.id}",collection: @gestion_eventos,:layout => 'jumbotron',:locals => {:item_simple => @gestion_evento} if @gestion_eventos.any?


