%h1 Eventos
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-map-marker"></span> Evento'.html_safe,new_evento_path)
    .text-muted Agrega un evento
