%ul.navbar-nav.mr-auto
  %li.nav-item
    %a.nav-link{:href => gestion_evidencias_path}
      Evidencias
  %li.nav-item
    %a.nav-link{:href => gestion_auditorias_path}
      Auditorías
  %li.nav-item
    %a.nav-link{:href => gestion_registros_path}
      Registros
  %li.nav-item
    %a.nav-link{:href => gestion_criterios_path}
      Criterios
  %li.nav-item
    %a.nav-link{:href => gestion_usuarios_path}
      Usuarios

