=render partial: 'gestion/criterios/item_simple',:id => "criterios#{@gestion_tipo_auditoria.id}",collection: @gestion_criterios,:layout => 'jumbotron',:locals => {:item_simple => @gestion_criterio} if @gestion_criterios.any?



