-##
  -#no usar navbar-fixed-top porque afecta el control inline  de search
  -#=link_to Gestion, root_path, class: 'navbar-brand'

  -#av-item
    %a.nav-link{:href => gestion_evidencias_path}
      %span.glyphicon.glyphicon-camera

  -#.nav-item
    %a.nav-link{:href => gestion_evidencias_path}
      %span.glyphicon.glyphicon-camera
  -#.nav-item
    %a.nav-link{:href => gestion_evidencias_path}
      %span.glyphicon.glyphicon-camera
  -#= render '/layouts/search'
  -#%button.navbar-toggler.navbar-toggler-right{"data-target" => "#search", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

-#ink_to Gestion, root_path, class: 'navbar-brand'

-#menu-mobile-collapse.collapse.navbar-collapse
= render 'layouts/navigation_mobile'

-#=render 'layouts/navigation_mobile'
-#menu-collapse.collapse.navbar-collapse
  = render 'layouts/navigation'

