-#nav.nav.navbar-toggler.navbar-left.navbar-inverse.bg-inverse.fixed-top
  = render '/layouts/search'

%nav.nav.navbar-toggler.navbar-light.bg-faded.nav-bar-justified.fixed-top
  -if current_user
    -if current_user.ingeniero
      .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-bookmark"></span>'.html_safe,atenciones_path)
      .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-th"></span>'.html_safe, tipo_auditorias_path)

      

    -elsif current_user.admin
      -if user_session["role"] == '1'
        .nav-item
          %a.nav-link{:href => gestion_evidencias_path}
            %span.glyphicon.glyphicon-camera
        .nav-item
          %a.nav-link{:href => gestion_usuarios_path}
            %span.glyphicon.glyphicon-user
        .nav-item
          %a.nav-link{:href => gestion_auditorias_path}
            %span.glyphicon.glyphicon-check
    

      -else
        .nav-item
          %a.nav-link{:href => gestion_registros_path} 
            %span.glyphicon.glyphicon-education
        .nav-item
          %a.nav-link{:href => gestion_usuarios_path}
            %span.glyphicon.glyphicon-user
        .nav-item
          %a.nav-link{:href => gestion_auditorias_path}
            %span.glyphicon.glyphicon-check
              
        -#.nav-item
          %a.nav-link{:href => gestion_criterios_path}
            %span.glyphicon.glyphicon-list

    -elsif current_user.auditor
      .nav-item
        %a.nav-link{:href => '#'}
          %span.glyphicon.glyphicon
      .nav-item
        %a.nav-link{:href => gestion_evidencias_path}
          %span.glyphicon.glyphicon-camera
      .nav-item
        %a.nav-link{:href => gestion_auditorias_path}
          %span.glyphicon.glyphicon-check
      .nav-item
        %a.nav-link{:href => '#'}
          %span.glyphicon.glyphicon


  -else
    .nav-item
      %a.nav-link{:href => root_path}
        %span.glyphicon.glyphicon-home
    .nav-item
      %a.nav-link{:href => contacto_path}
        %span.glyphicon.glyphicon-phone-alt
    -#.nav-item
      %a.nav-link{:href => about_path}
        %span.glyphicon.glyphicon-info-sign
    .nav-item
      %a.nav-link{:href => new_evento_path}
        .glyphicon.glyphicon-plus{:style => "font-size: 0.5rem"}
        %span.glyphicon.glyphicon-map-marker

  -if current_user
    .nav-item
    -unless current_user.admin or current_user.ingeniero or current_user.auditor
      %a.nav-link{:href => eventos_path}
        %span.glyphicon.glyphicon-map-marker
    .nav-item
    -unless current_user.admin or current_user.ingeniero or current_user.auditor
      %a.nav-link{:href => new_evento_path}
        .glyphicon.glyphicon-plus{:style => "font-size: 0.5rem"}
        %span.glyphicon.glyphicon-map-marker

    -#av-item
      %a.nav-link{:href => edit_user_registration_path}
        %span.glyphicon.glyphicon-cog
    .nav-item.nav-link=link_to('<span class="glyphicon glyphicon-off"></span>'.html_safe, destroy_user_session_path, method: 'delete')

  -else
    .nav-item
      %a.nav-link{:href => new_user_session_path}
        %span.glyphicon.glyphicon-log-in
    .nav-item
      %a.nav-link{:href => new_user_registration_path}
        %span.glyphicon.glyphicon-edit
  -if current_user
    = render '/layouts/search'


