%h1 Auditorías
%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    .nav-item.nav-link= link_to('<span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-check"></span> Auditoría'.html_safe,new_auditoria_path)
